<h1>Edit Rental</h1>

<%= render 'form', rental: @rental %>

<%= link_to 'Show', @rental, class: "btn btn-outline-dark mt-4" %>
<%= link_to 'Back to rentals', rentals_path, class: "btn btn-outline-dark mt-4"  %>