<h3>New Rental</h3>

<%= render 'form', rental: @rental %>

<% if $new_rental_referer == "movies" %>
  <%= link_to 'Back to movies', movies_path, class: "btn btn-outline-dark mt-4" %>  
<% end %>

<% if $new_rental_referer == "rentals" %>
  <%= link_to 'Back to rentals', rentals_path, class: "btn btn-outline-dark mt-4" %>  
<% end %>

<% if $new_rental_referer == "users" %>
  <%= link_to 'Back to users', users_path, class: "btn btn-outline-dark mt-4" %>  
<% end %>
